{% extends "layout.html" %}

{% block content %}
  <h2>{{league_name}}</h2>
  <h3>Last updated {{last_updated_data}}</h3>
  <canvas id="myChart" width="400" height="400"></canvas>
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{labels|tojson}},
            datasets: {{datasets|tojson}}
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 2500
                }
            },
            elements: {
                        point:{
                            radius: 0
                        }
                    }

        }
    });
    </script>
{% endblock %}
