{% extends "layout.html" %}

{% block content %}
  <h2>{{league_name}}</h2>
  <h3>Last updated {{last_updated_data}}</h3>
  <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style text-center my-3">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_email"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_sms"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
  <canvas id="myChart"></canvas>
  <img id="chart-img" src="" />
    <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{labels|tojson}},
            datasets: {{datasets|tojson}}
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    suggestedMax: 2500
                }
            },
            elements: {
                        point:{
                            radius: 0
                        }
                    },
            animation: {
              onComplete: function() {
                // Create PNG of graph (not currently used)
                 document.getElementById("chart-img").src = myChart.toBase64Image()
              }
           },

        }
    });

    // console.log(myChart.toBase64Image('image/jpeg', 1));

    </script>

{% endblock %}
